<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta property="og:title" content="Webtrends Labs"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content="http://wt-labs.appspot.com/"/>
    <meta property="og:site_name" content="Webtrends Labs"/>
    <meta property="fb:admins" content="620859611" />

    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />

	<title>Welcome to Webtrends Labs</title>
	
    <script type="text/javascript" src="/scripts/webtrendsasyncloader.js"></script>
  </head>
  <body>
	<p>Welcome to Webtrends Labs</p>

    <p><fb:like ref="only Like button"></fb:like></p>

    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({appId: '{{ facebook_app_id }}', status: true, cookie: true,
                 xfbml: true});
        FB.Event.subscribe('{% if current_user %}auth.logout{% else %}auth.login{% endif %}', function(response) {
          window.location.reload();
        });
      };
      (function() {
        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
      }());
    </script>
	
	<p><a href="http://wt-facebook.appspot.com/">Facebook Samples</a>
    <form action="/sign" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Sign Guestbook"></div>
    </form>

	<a href="{{ url }}">{{ url_linktext }}</a>
	<p>
    {% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author.nickname }}</b> wrote:
      {% else %}
        An anonymous person wrote:
      {% endif %}
      <blockquote>{{ greeting.content|escape }}</blockquote>
    {% endfor %}
  </body>
</html>